.contact {
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 1%;
}

.flexSystem {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.backImage {
    height: 100%;
    background-repeat: no-repeat;
    flex: 1;
    padding-left: 20%;
    align-self: start;
}
.container {
    flex: 2;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.common {
    margin: 1rem;
    text-align: center;
}

.mainHeader {
    font-size: 32px;
    margin-bottom: 10px;
    color: rgb(44, 44, 44);
}
.commonBorder {
    background: #ff4a57;
    height: 3px;
    width: 190px;
    margin: 10px auto;
}
.contactSection_logo {
    margin: 3% 0%;
}
.contactSection_logo p a {
    margin-bottom: 20px;
    border: 2px solid #ff4321;
    height: 50px;
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    font-size: 20px;
    transition: all 0.4s ease-in-out;
}

.contactSection_logo p a:hover {
    color: #ff4321;
    transition: all 0.4s ease-in-out;
    text-decoration: none;
    border: 2px solid white;
    background-color: #ff4321;
    color: white;
    font-size: 20px;
}
.contact_info {
    width: 60%;
    text-align: justify;
}

.contactCircles {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    transition: all 0.5s linear;
    cursor: pointer;
    margin-bottom: 5%;
}

.contactCircles .para_links {
    margin-left: 10px;
    margin-right: 10px;
    color: #ff4321;
    text-decoration: none;
    transition: all 0.4s ease-in-out;
}
.contactCircles .para_links .link:hover {
    color: #333333;
    text-decoration: none;
    transition: all 0.4s ease-in-out;
}

.line {
    color: black;
}

@media only screen and (max-width: 800px) {
    .contact {
        height: fit-content;
    }
    .backImage {
        display: none;
    }
    .flexSystem {
        width: 100%;
    }
    .contact_info {
        width: 80%;
    }
    .container {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 2%;
    }
    .contactCircles {
        margin-bottom: 20%;
    }
}
