.footer {
  width: 100%;
  background-color: #ff4a57;
  color: #eee;

  bottom: 0;
  text-align: center;
}

.footer .container {
  width: 90%;
  text-align: center;
}

.bottom {
  text-align: center;
  padding-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main_footer {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100%;
  padding-bottom: 10px;
}
