.footer {
    width: 100%;
    background-color: #ff4a57;
    color: #eee;
    position: fixed;
    left: 0;
    bottom: 0;
    text-align: center;
}

.footer .container {
    width: 90%;
    text-align: center;
}

.bottom {
    text-align: center;
    padding-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_footer {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    padding-bottom: 10px;
}
