.header {
    width: 100%;
    min-height: 100vh;
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}
.navbar {
    box-sizing: border-box;
    width: 100%;
    height: 55px;
    position: fixed;
    top: 0;
    background: #fff;
    z-index: 1;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}

.navbar,
.about,
.skills,
.projects,
.home,
.contact {
    display: flex;
    flex-wrap: wrap;
}

.navbar__container {
    display: flex;

    justify-content: space-between;
    align-items: center;
    height: 55px;
}
.navbar__left_logo {
    color: #ff4321;
    cursor: pointer;
    font-size: 3rem;
}

.navbar__right {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    list-style-type: none;
    align-items: flex-end;
}
.navbar__container .navbar__right {
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    transition: all 5 ease-in-out;
}
.navbar__container a {
    color: #ff4321;
    text-decoration: none;
    transition: all 0.4s ease-in-out;
    font-size: 2rem;
}

.navbar__container a:hover {
    color: #333333;
}
.navbar__right a:active {
    color: #333333;
}

.navbar__right,
.navbar__right a {
    display: inline;
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
    padding: 0 15px;
    cursor: pointer;
    font-weight: 700;
}

/* Helpers */
.container {
    width: 90%;
    margin: 0 auto;
}
.bgMain {
    background: #fff;
}

.h_650 {
    height: 400px;
}
.alignCenter {
    align-items: center;
}
.justifyConter {
    justify-content: center;
}

.burger {
    color: black;
    font-size: 25px;
    cursor: pointer;
    display: none;
}

@media only screen and (max-width: 768px) {
    .navbar__right {
        display: none;
    }
    .burger {
        display: flex;
    }

    .navbar__left_logo {
        display: flex;
    }
    .navbar__container .navbar__right {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        top: 0;
        left: 0;
        margin-top: -30px;
        height: 100vh;
        background: #fff;
        width: 50%;
        transition: all 5 ease-in-out;
        transform: translateX(-500px);
    }
}
/* @media (max-width: 490px) {
    .projects__box {
        display: block;
        height: 11rem;
        width: 14rem;
        padding: 10px;
        margin-top: 20px;
        margin-bottom: 10px;
    }
    .projects__box-header {
        font-size: 15px;
        font-weight: 500;
        margin-bottom: 10px;
    }
    .projects__header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
    }
    .projects__box-p {
        font-size: 9px;
    }
    .commonIcons {
        margin-bottom: 5px;
    }
} */
