.experience {
  background-color: #fff;
  width: 100%;
  min-height: 100vh;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 4% 0 4%;
  width: 100%;
}

.common {
  margin: 1rem;
  text-align: center;
}

.mainHeader {
  font-size: 32px;
  margin-bottom: 10px;
  color: rgb(44, 44, 44);
}

.commonBorder {
  background: #ff4a57;
  height: 3px;
  width: 170px;
  margin: 10px auto;
}

.skill {
  color: #333333;
  font-size: 100%;
  font-weight: 400;
}

.row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.col_6 {
  width: 50%;
}

.title {
  font-size: 2em;
  color: #ff4a57;
  padding-bottom: 40px;
  font-weight: 900;
}

.experience_content {
  padding: 30px;
  color: #333333;
}

.experience_title {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: black;
  font-size: 20px;
  column-gap: 20px;
  font-weight: 800;
  margin-left: 1rem;
}

.border_left {
  border-left: 3px solid #ff4a57;
}

.date {
  padding: 1rem;
  font-weight: 800;
  color: #333333;
  font-size: 19px;
}

.detail {
  padding: 1rem;
  color: #333333;
  font-size: 19px;
}

.detail .text {
  text-align: justify;
}

.ul {
  list-style-type: none;
}

.li {
  font-size: 20px;
  font-weight: 700;
  color: #333333;
  padding-top: 10px;
  padding-bottom: 10px;
}

.suitcase {
  font-size: 2.2rem;
  color: #000000;
}

@media only screen and (max-width: 800px) {
  .container {
    width: 100%;
  }

  .date {
    margin-top: 30px;
  }

  .title {
    font-size: 30px;
    text-align: left;
  }

  .row,
  .col_6 {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
