.header {
    width: 100%;
    min-height: 100vh;
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.navbar,
.about,
.skills,
.projects,
.home,
.contact {
    display: flex;
    flex-wrap: wrap;
}
/* Helpers */
.container {
    width: 1200px;
    margin: 0 auto;
}
.bgMain {
    background: #fff;
}

.h_650 {
    height: 400px;
}
.alignCenter {
    align-items: center;
}
.justifyConter {
    justify-content: center;
}

@media (max-width: 490px) {
    .projects__box {
        display: block;
        height: 11rem;
        width: 14rem;
        padding: 10px;
        margin-top: 20px;
        margin-bottom: 10px;
    }
    .projects__box-header {
        font-size: 15px;
        font-weight: 500;
        margin-bottom: 10px;
    }
    .projects__header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
    }
    .projects__box-p {
        font-size: 9px;
    }
    .commonIcons {
        margin-bottom: 5px;
    }
}

/* @media (max-width: 765px) {
    .container {
        width: 100%;
        padding: 0px 30px;
    }
    .typed_text {
        font-size: 1.3rem;
    }
    .header__content {
        padding-top: 80px;
    }
    .a {
        display: block;
        justify-content: center;
        padding: 10px 0;
        font-size: 20px;
    }
    .header__ul {
        color: #333333;
    }
    .col_6 {
        width: 100%;
        margin: 0;
    }
    .about {
        margin: 0;
        padding: 0;
    }
    .col_3 {
        width: 100%;
    }
    .col_4 {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    
    .banner__img img {
        display: none;
    }
    .header__section h1 {
        font-size: 35px;
        font-weight: 700;
        margin-bottom: 20px;
    }
    .header__section p {
        font-size: 20px;
        font-weight: 300;
        line-height: 30px;
        margin-bottom: 50px;
    }
    .common {
        width: 100%;
    }
    .h-650 {
        height: auto;
    }
    .info__contacts .row .col-6 {
        display: flex;
        justify-content: flex-start;
    }
    .about__img {
        padding: 0px;
    }
    .projects {
        padding: 0px 0;
    }
    .last-footer .last-footer-child {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .contactCircles a {
        margin: 0;
        padding: 0;
        font-size: 15px;
    }
    .last-footer a {
        font-size: 16px;
    }
    .projects .container {
        padding: 10px;
    }
}

*/
/* ::selection {
    background-color: #ff4321;
    color: white;
} */
