.header {
    width: 100%;
    min-height: 100vh;
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.navbar,
.about,
.skills,
.projects,
.home,
.contact {
    display: flex;
    flex-wrap: wrap;
}
/* Helpers */
.container {
    width: 1200px;
    margin: 0 auto;
}
.bgMain {
    background: #fff;
}

.h_650 {
    height: 400px;
}
.alignCenter {
    align-items: center;
}
.justifyConter {
    justify-content: center;
}

.fix {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: #fff35d;
}
